.to-do {
  border: 1px solid rgba(0, 0, 0, 0.36);
  border-radius: 10px;
  margin-top: 12px;
  padding: 10px;
  background: rgba(181, 235, 242, 0.6);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6), inset -5px -5px 5px rgba(181, 235, 242, 1), inset 5px 5px 5px rgba(234, 253, 255, 1);

  .edit-to-do {
    display: flex;

    label {
      min-width: 130px;
    }

    &.edit-to-do-description {
      margin-top: 8px;
    }

    input {
      min-width: 200px;
    }
  }

  .to-do-header {
    align-items: center;
    justify-content: space-between;

    &, .headline {
      display: flex;
    }

    .headline {
      align-items: baseline;
    }

    .actions {
      button {
        cursor: pointer;
        margin-left: 4px;
      }
    }
  }

  .to-do-description {
    margin-top: 8px;
  }
}
