.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);

  &, .modal-dialog {
    display: flex;
  }

  .modal-dialog {
    background: #fff;
    margin: auto;

    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
  }

  .modal-actions {
    margin-top: 24px;

    button {
      cursor: pointer;
      margin-left: 4px;
    }
  }
}
