#to-do-app {
  main {
    margin: auto;
    display: flex;
    max-width: 800px;
    flex-direction: column;

    .no-to-dos {
      margin-top: 12px;
    }
  }

  button {
    &:not(:first-child) {
      margin-left: 4px;
    }

    &:not(:disabled) {
      cursor: pointer;
    }
  }

  .blue-container {
    border: 1px solid rgba(0, 0, 0, 0.36);
    border-radius: 10px;
    padding: 10px;
    background: rgb(211 243 247);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6), inset -5px -5px 5px rgba(181, 235, 242, 1), inset 5px 5px 5px rgba(234, 253, 255, 1);
  }
}
